body{
    background-color: rgb(224, 224, 224);
}

.wrapper{
    background-color: rgb(39, 99, 155);
    width: 500px;
    height: 240px;
    margin: 50px auto;
    
}

.wrapper>input{
    width: 90%;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 25px;
    padding-left: 13px;
}

.wrapper>div{
    width: 50%;
    margin: 5px auto;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.wrapper>button{
    width: 80%;
    height: 30px;
    margin-left: 10%;
    margin-top: 10px;
    font-size: 20px;
}